html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: monospace;
  color: rgb(92, 160, 255);
  text-align: center;
}

p {
  font-family: monospace;
  color: white;
  text-align: center;
}

a {
  font-family: monospace;
  color: white;
}

button {
  background-color: rgb(6, 122, 0);
  border: 2px solid white;
  color: white;
  font-size: large;
  width: 100px;
  height: 50px;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid white;
  margin: 20px 0;
}

button:hover {
  cursor: pointer;
}

input {
  background-color: rgb(59, 59, 59);
  border: 2px solid white;
  color: white;
}

.main_container, .date_bounds_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.divider {
  width: 1px;
  height: 100px;
  background-color: white;
}

.correct_incorrect_text {
  color: white;
  font-size:x-large;
  text-align: center;
}

.button_div {
  display: flex;
  justify-content: center;
}